@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f6fbf3;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-thumb {
  background: #c9e6bd;
  border-radius: 8px;
}
